@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');

:root {
  --text-color: #000;
  --main-color: #03C75A;
  --second-color: #888;
  --master-font: 'Black Han Sans';
  --main-width: 458px;
  /* desktop 환경 너비 */
  --sub-width: 90vw;
  /* mobile 환경 너비 */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  list-style: none;
  text-decoration: none;
  color: var(--text-color);
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

body>*>div {
  max-width: 800px;
  width: 800px;
  margin-bottom: 40px;
  background-color: rgba(255, 0, 0, .3);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

/* banner ads */
.banner {
  background-color: rgba(0, 0, 0, 0);
}

#ads {
  max-width: var(--main-width);
  width: 100%;
  height: auto;
  cursor: pointer;
}

#ads img {
  width: 100%;
}


/* ########## header design ########## */
.header-content {
  /* 작업 완료 후 백그라운드 컬러 복귀 */
  background-color: rgba(0, 0, 0, 0);
}

#header-transparent {
  display: none;
}

#lang-box {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

#sel-lang {
  padding: 7px 20px 7px 8px;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 12px;
  color: #555;
  /* select 기본 드롭다운 방향 아이콘 미표시 */
  -webkit-appearance: none;
}

#arrow-down {
  width: 30px;
  height: 30px;
  /* background-color: rgba(0,0,255,.3); */
  position: absolute;
  top: 0;
  right: 0;
  user-select: none;
  /* arrow-down 클릭 비활성화(드롭다운 표시되도록) */
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#arrow-down i {
  color: #ccc;
}

#logo {
  display: inline-block;
  width: 155px;
  height: 30px;
  margin-top: 100px;
  background: url('/images/m_sp_00_common_978240a6.png');
  background-size: 244px 107px;
  background-position: 0 -51px;
}

#logo>h1 {
  /* 로고 이미지 없을 경우 대체 */
  display: none;
  color: var(--main-color);
  font-family: var(--master-font);
  font-size: 3rem;
  font-weight: 100;
  margin-top: 100px;
}


/* ########## main design ########## */
.main-content {
  background: rgba(0, 0, 0, 0);
  margin-bottom: 20px;
}


/* 로그인 타입 설정 */
#login-type {
  width: var(--main-width);
}

#login-type-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 1px solid #ccc;
  position: relative;
  top: 8px;
  border-radius: 8px;
  height: 50px;
}

#login-type li {
  position: relative;
}

#login-type li a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  color: #888;
  position: relative;
  margin: -1px -.5px;
  background: #f8f9fa;
}

#login-type li:first-child a {
  margin-left: -1px;
  border-left: 1px solid #ccc;
  border-top-left-radius: 8px;
}

#login-type li:last-child a {
  margin-right: -1px;
  border-right: 1px solid #ccc;
  border-top-right-radius: 8px;
}

#login-type li:nth-of-type(1) .type-icon {
  display: block;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  background: url('/images/m_sp_01_login_0c98137b.png');
  background-repeat: no-repeat;
  background-position: -131px -224px;
  background-size: 283px 246px;
}

#login-type li:nth-of-type(2) .type-icon {
  display: block;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  background: url('/images/m_sp_01_login_008d5216.png');
  background-repeat: no-repeat;
  background-position: -160px -172px;
  background-size: 266px 225px;
}

#login-type li:nth-of-type(3) .type-icon {
  display: block;
  width: 17px;
  height: 17px;
  margin-right: 5px;
  background: url('/images/m_sp_01_login_008d5216.png');
  background-repeat: no-repeat;
  background-position: -124px -172px;
  background-size: 266px 225px;
}

#login-type input {
  /* display: none; */
  position: absolute;
  top: 0;
}

#login-type span[class="on"] {
  display: block;
  width: 100%;
  height: 70%;
  position: absolute;
  cursor: pointer;
  z-index: 1;
}

#login-type span:not([class="on"]) {
  display: none;
}

#login-type input:checked+a {
  border-bottom: none;
  color: #000;
  background: #fff;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  z-index: 100;
}

#login-type li:nth-of-type(1) input:checked+a .type-icon {
  background: url('/images/m_sp_01_login_008d5216.png');
  background-size: 266px 225px;
  background-position: -142px -172px;
}

#login-type li:nth-of-type(2) input:checked+a .type-icon {
  background: url('/images/m_sp_01_login_0c98137b.png');
  background-size: 283px 246px;
  background-position: -126px -179px;
}

#login-type li:nth-of-type(3) input:checked+a .type-icon {
  background: url('/images/m_sp_01_login_0c98137b.png');
  background-size: 283px 246px;
  background-position: -52px -179px;
}

#login-type-id span:not([class=on]) {
  display: none;
}

#login-type-id {
  max-width: var(--main-width);
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

#login-type-id li {
  width: var(--main-width);
  padding: 30px 28px 20px;
}

#login-type-id li * {
  color: var(--second-color);
}

#login-type-id input {
  color: #000;
  cursor: pointer;
}

#login-type-id input::placeholder {
  color: #aaa;
  /* placeholder 텍스트 색상 */
}

.id,
.password {
  border: 1px solid #ccc;
  width: 100%;
  height: 48px;
  padding: 14px 17px;
  display: flex;
  align-items: center;
}

.id {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin-bottom: -1px;
}

.password {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.focused {
  border: 1px solid var(--main-color);
  transform: translateZ(1px);
}

#id-icon,
#password-icon {
  width: 17px;
  height: 17px;
  background-color: rgba(0, 0, 255, .5);
  margin-right: 7px;
}

.id input:valid~.on,
.password input:valid~.on {
  display: block;
  width: 20px;
  height: 20px;
  background-color: red;
  background: url('/images/m_sp_01_login_008d5216.png');
  background-position: -244px -187px;
  background-repeat: no-repeat;
  background-size: 266px 225px;
  cursor: pointer;
}

#id-icon {
  background: url('/images/m_sp_01_login_008d5216.png');
  background-position: -93px -203px;
  background-size: 266px 225px;
}

#password-icon {
  background: url('/images/m_sp_01_login_008d5216.png');
  background-position: -129px -203px;
  background-size: 266px 225px;
}

#login-type-id input:not([type=checkbox]) {
  font-size: 16px;
  width: 100%;
  margin-right: 30px;
}

#toggle-id {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin: 10px 0;
  font-size: 14px;
}

#keep-login * {
  cursor: pointer;
  user-select: none;
  color: var(--second-color);
}

#keep-login input {
  display: none;
}

#keep-login span::before {
  content: "";
  display: inline-block;
  background: url('/images/m_sp_01_login_008d5216.png');
  background-size: 266px 225px;
  background-position: -244px -87px;
  background-repeat: no-repeat;
  position: relative;
  top: 3px;
  margin-right: 5px;
  width: 18px;
  height: 18px;
}

#keep-login input[type="checkbox"]:checked+span::before {
  background-position: -244px -167px;
}

#ip-secure {
  display: flex;
  justify-content: center;
  gap: 3px;
}

#ip-secure input {
  display: none;
}

#ip-secure span {
  display: inline-block;
  width: 33px;
  height: 18px;
  border-radius: 14px;
  background-color: #ccc;
  cursor: pointer;
}

#ip-secure span::before {
  content: '';
  display: block;
  position: relative;
  top: 2px;
  left: 2px;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #fff;
  transition: .2s ease;
}

#ip-secure input[type="checkbox"]:checked+span {
  background: var(--main-color);
}

#ip-secure input[type="checkbox"]:checked+span::before {
  transform: translateX(15px);
}

#error * {
  margin: 20px 0;
  font-size: 12px;
  color: red !important;
}

#error .blind {
  display: none;
}

#login-btn {
  width: 100%;
  height: 52px;
  text-align: center;
  background: var(--main-color);
  border: solid 1px rgba(0, 0, 0, .15);
  border-radius: 8px;
  margin-top: 30px;
  cursor: pointer;
}

#login-btn button {
  position: relative;
  top: 50%;
  color: white;
  background: transparent;
  font-weight: bolder;
  font-size: 1.2em;
  transform: translateY(-50%);
  user-select: none;
  pointer-events: none;
}

#find-account {
  margin: 20px 0;
}

#find-account ul {
  font-size: 14px;
  display: flex;
}

#find-account ul li a {
  color: var(--second-color);
}

#find-account ul li:not(:last-child)::after {
  position: relative;
  top: -2px;
  content: '|';
  margin: 0 8px;
  font-size: 11px;
  color: #ccc;
}

/* ########## footer design ########## */
footer * {
  font-size: 12px;
  letter-spacing: -.5px;
  color: var(--second-color);
}

.footer-content {
  background: rgba(0, 0, 0, 0);
}

.footer-content div {
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  margin: 8px auto;
}

.footer-content div a {
  display: inline-block;
  width: 70px;
  height: 15px;
  background: url('/images/m_sp_00_common_978240a6.png');
  background-size: 244px 107px;
  background-position: -157px -51px;
  margin: 0 5px;
}

.footer-content div span:first-child {
  /* 로고 표시 안될때 텍스트로 대체할 요소*/
  display: none;
}

.footer-content ul {
  display: flex;
}

.footer-content ul li:not(:last-child)::after {
  content: '|';
  margin: 0 .5em;
  color: #ccc;
}

.footer-content ul li:nth-child(2) a {
  font-weight: bolder;
}

#corp {
  display: contents;
  color: black;
}